/* copied from style/home.css */
:root{
   color: white;
   color: yellow;
   color: #ffee80;
   color: #130f40;
   color: #666;
   border: 1rem solid rgba(0,0,0,.1);
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: sens-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
   text-transform: capitalize;
   transition: all .2s linear;
}
html{
   font-size: 62.5% ;
   overflow: auto;
   scroll-padding-top: 7rem ;
   scroll-behavior: smooth;
}

.heading{
   text-align: center ;
   padding-bottom: 2rem;
   font-size: 4.5rem;
   color: black;
}
.heading span{
   position: relative;
   background: yellow;
   z-index: 0;
}
.heading span::before{
   content: '';
   position: absolute;
   bottom:1rem;
   left: 0;
   height: 100%;
   width: 100%;
   z-index:-1;
   background: yellow;
   clip-path: polygon(0% 90%, 100% 80%, 100% 100%, 0% 100%);
}

.header{
position: fixed;
   top: 0; left: 0; right: 0;
   z-index: 999;
   background: black;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 3rem 9%;
}
.header .logo{

   font-size: 2.5rem;
   cursor: pointer;
   color: white;
   font-weight: bolder;
}

.header .logo span{

   color: yellow;
}


.btn:hover
{
   background-color: white;
   color:rgb(196, 195, 195);
   padding: 10px 20px;
}

section{
   padding: 2rem 9%;
}
.btn{
   color: white;
   display: block;
   background: yellow ;
   font-size: 1.7rem;
   cursor: pointer;
   padding: 1rem 3rem;
}

.header .navbar a{

   font-size: 1.7rem;
   margin: 0 1rem;
   color: white;
}
.header .navbar a:hover{
color: yellow;
}
.home{
   padding-top: 15rem;
   text-align: center;
   overflow-x: hidden;
}
.home h1{
   font-size: 6.5rem;
   text-transform: uppercase;
   color: black;
}
.home img{

   width: 90%;
   margin: 1rem 0;
}
.home .btn
{
   font-family: arial;
   margin-top: 30px;
   background: rgb(196, 195, 195);
   border: none;
   cursor: pointer;
   color: white;
   border-radius: 7px;
   transition: 0.6s;
   margin-left: 220px;
   transform: translate(-50%, -50%);
   margin-bottom: 0px;
   font-size: 10px;
   font-weight: bold;
}
.home .btn:hover
{

   background-color: black;
   color:rgb(196, 195, 195);
   padding: 10px 20px;

}
.btn:action
{
   opacity: 0.7;
}
.home .btn{

   display: inline;
   background: yellow;
   font-size: 1.7rem;
   cursor: pointer;
   padding: 1rem 3rem;
}
.icons-container{
   color: black;
   padding-top: 5rem;
   padding-bottom: 5rem;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
   gap: 1.5rem;
   background: #eee;
}
.icons-container .icons{

   display: flex;
   align-items: center;
   gap: 1.5rem;
   padding: 2rem;
   background: #fff;
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}
.icons-container .icons i{

height: 5rem;
   width: 5rem;
   line-height: 5rem;
   font-size: 2.5rem;
   border-radius: 50%;
   color: black;
   text-align: center;
}
.icons-container .icons .content h3{
   color: yellow;
   font-size: 2.5rem;
}
.icons-container .icons .content p{

   font-size: 1.5rem;
}
.icons-container .icons:hover{
   background: lightslategray ;
}
.icons-container .icons:hover i{
   background: yellow ;
}
.icons-container .icons:hover .content h3{
   color: #fff;
}
.icons-container .icons:hover .content p{
   color: #eee;
}




* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
}

/* Hide the images by default */
.mySlides {
   display: none;
}

/* Next & previous buttons */
.prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: black;
   font-weight: bolder;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
}

/* Position the "next button" to the right */
.next {
   right: 0;
   border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {

   text-align: right;
   color: black;
   padding: 150px;
   font-size: 50px;
   position: absolute;
   bottom: 20px;
   width: 100%;

}
.button{

   display: inline-block;
   background: yellow;
   font-size: 1.7rem;
   cursor: pointer;
   padding: 1rem 3rem;
   font-weight: bolder;
}
.button:hover
{
   background-color: black;
   color:rgb(196, 195, 195);
   padding: 10px 20px;
}

/* Number text (1/3 etc) */
.number-text {
   color: #f2f2f2;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
}

/* The dots/bullets/indicators */
.dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}

.active, .dot:hover {
   background-color: #717171;
}

/* Fading animation */
.fade {
   animation-name: fade;
   animation-duration: 1.5s;
}

@keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
}

/* maintainance */
.services .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 1.5rem;
   background: #f2f2f2;
}
.services .box-container .box{
   text-align: center;
   padding: 2rem;
   border-radius: .5rem;
   box-shadow: #717171;
   border: #bbbbbb;
}
.services .box-container .box i{
   height: 6rem;
   width: 6rem;
   line-height: 6rem;
   font-size: 2.5rem ;
   color: black;
   background: yellow ;
   border-radius: 7%;
   margin-bottom: 1rem;
}
.services .box-container .box h3{
   color: black;
   font-size: 2.2rem;
}
.services .box-container .box p{
   color: black;
   font-size: 2.0rem ;
   padding: 1rem 0;
   line-height: 1.8;
}
.services .box-container .box:hover{
   background: lightslategray;
}
.services .box-container .box:hover h3{
   color: #fff;
}
.services .box-container .box:hover p{
   color: #eee;
}

.footer{
   background: #ffee80;
}
.footer .box-container{
   display: grid;
   text-align: center;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 1.5rem;
}
.footer .box-container .box h3{
   color: black;
   font-size: 2.2rem;
   padding: 1rem 0;
}
.footer .box-container .box a{
   color: black;
   font-size: 1.4;
   display: block;
   padding: 1rem 0;
}
.footer .box-container .box a i{
   padding-right: 5rem;
   color: black;
}
.footer .box-container .box a:hover i {
   padding-right: 2rem;
}
